<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0 text-center" href="/dashboard">
        <img src="/img/logo-minnerg-com.png" class="navbar-brand-img h-100" alt="main_logo">
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  " href="/dashboard">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="20px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>spaceship</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(4.000000, 301.000000)">
                        <path class="color-background" d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"></path>
                        <path class="color-background opacity-6" d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"></path>
                        <path class="color-background opacity-6" d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"></path>
                        <path class="color-background opacity-6" d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Tablero</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/wallet">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>credit-card</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(453.000000, 454.000000)">
                        <path class="color-background opacity-6" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"></path>
                        <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Billetera</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/referral">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>office</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <path class="color-background opacity-6" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
                        <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Referidos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/reward">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>box-3d-50</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(603.000000, 0.000000)">
                        <path class="color-background" d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                        <path class="color-background opacity-6" d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"></path>
                        <path class="color-background opacity-6" d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Recompensas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/market">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>shop </title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(0.000000, 148.000000)">
                        <path class="color-background opacity-6" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                        <path class="color-background" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Mercado</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PÁGINAS DE LA CUENTA</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="/profile">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>customer-support</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(1.000000, 0.000000)">
                        <path class="color-background opacity-6" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                        <path class="color-background" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                        <path class="color-background" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Perfil</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenav-footer mx-3 ">
      <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
        <div class="full-background" style="background-image: url('/img/curved-images/white-curved.jpeg')"></div>
        <div class="card-body text-start p-3 w-100">
          <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
            <i class="ni ni-diamond text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
          </div>
          <div class="docs-info">
            <h6 class="text-white up mb-0">Necesitas ayuda?</h6>
            <p class="text-xs font-weight-bold">Por favor, consulte nuestra documentación</p>
            <a href="" class="btn btn-white btn-sm w-100 mb-0">Documentación</a>
          </div>
        </div>
      </div>
      <a class="btn bg-gradient-primary mt-4 w-100" href="" type="button">Activar Cuenta</a>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    {{>navbar-main}}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      {{#each users}}
      <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('/img/CRYPTOS_020222_USDT1.png'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>

      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
            <img src="/img/team-4.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
            <h5 class="mb-1">
            {{ firstname }} {{ lastname }}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
            {{ username }}
            </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                  <li class="nav-item">
                    <button type="button" class="btn btn-icon btn-3 btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLongProfile"><span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                      <span class="btn-inner--text"> Editar Perfil</span></button>
                    
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>

          {{/each}}
    </div>
    <div class="container-fluid py-4">
      {{#if success_msg }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>¡Enhorabuena! -</strong> {{ success_msg }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Oh no!</strong> {{error}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
            {{#each errors }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Oh no!</strong> {{text}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/each}}
            {{#if error_msg }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Oh no!</strong> {{error_msg}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
      <div class="row">
        <div class="col-12 col-xl-12">
          <div class="card h-100">
            <div class="card-body p-3">
              {{#each users}}
              <form>
                <input type="hidden" name="_method" value="PUT">
                <h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Usuario</label>
                        <input type="text" name="username" disabled class="form-control" placeholder="Usuario" maxlength="100" value="{{username}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Número Telefónico</label>
                        <input type="number" name="phone" disabled class="form-control" placeholder="Número Telefónico" value="{{phone}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Nombres</label>
                        <input type="text" name="firstname" disabled class="form-control" placeholder="Nombres" value="{{firstname}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Apellidos</label>
                        <input type="text" name="lastname" disabled class="form-control" placeholder="Apellidos" value="{{lastname}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Información de Contacto</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label">Dirección</label>
                        <input name="address" class="form-control" disabled placeholder="Direccion fiscal" type="text" value="{{address}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Ciudad</label>
                        <input type="text" name="city" disabled class="form-control" placeholder="Ciudad" value="{{city}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">País</label>
                        <input type="text" name="country" disabled class="form-control" placeholder="País..." value="{{country}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Código Postal</label>
                        <input type="number" name="postalcode" disabled class="form-control" placeholder="Código Postal" value="{{postalcode}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Retiros -->
                <h6 class="heading-small text-muted mb-4">Datos de Retiro</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Billetera</label>
                          <input type="txt" name="wallet" disabled class="form-control" placeholder="Billetera..." value="{{wallet}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" >Dirección de Billetera o Pay ID</label>
                        <input name="addresswallet" class="form-control" disabled placeholder="Coloque su dirección de wallet" type="text" value="{{addresswallet}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Escriba algo sobre usted.</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Sobre mí</label>
                    <textarea rows="4" class="form-control" disabled name="description" placeholder="Algunas palabras sobre ti..">{{description}}</textarea>
                  </div>
                </div>
              </form>
                {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="ModalLongProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Editar Perfil</h5>
            <button type="button"  class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{#each users}}
              <form action="/profile/{{_id}}?_method=PUT" method="POST">
                  <input type="hidden" name="_method" value="PUT">
                  <h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Usuario</label>
                          <input type="text" name="username" disabled class="form-control" placeholder="Usuario" maxlength="100" value="{{username}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Número Telefónico</label>
                          <input type="number" name="phone" class="form-control" placeholder="Número Telefónico" value="{{phone}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Nombres</label>
                          <input type="text" name="firstname" class="form-control" placeholder="Nombres" value="{{firstname}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Apellidos</label>
                          <input type="text" name="lastname" class="form-control" placeholder="Apellidos" value="{{lastname}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Información de Contacto</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label">Dirección</label>
                          <input name="address" class="form-control" placeholder="Direccion fiscal" type="text" value="{{address}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Ciudad</label>
                          <input type="text" name="city" class="form-control" placeholder="Ciudad" value="{{city}}">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">País</label>
                          <select class="form-select form-control" type="txt" name="country" value="">
                            <option value="Afganistán" style="color: black">Afganistán</option>
                            <option value="Albania" style="color: black">Albania</option>
                            <option value="Alemania" style="color: black">Alemania</option>
                            <option value="Andorra" style="color: black">Andorra</option>
                            <option value="Angola" style="color: black">Angola</option>
                            <option value="Antigua y Barbuda" style="color: black">Antigua y Barbuda</option>
                            <option value="Arabia Saudita" style="color: black">Arabia Saudita</option>
                            <option value="Argelia" style="color: black">Argelia</option>
                            <option value="Argentina" style="color: black">Argentina</option>
                            <option value="Armenia" style="color: black">Armenia</option>
                            <option value="Australia" style="color: black">Australia</option>
                            <option value="Austria" style="color: black">Austria</option>
                            <option value="Azerbaiyán" style="color: black">Azerbaiyán</option>
                            <option value="Bahamas" style="color: black">Bahamas</option>
                            <option value="Bangladesh" style="color: black">Bangladesh</option>
                            <option value="Barbados" style="color: black">Barbados</option>
                            <option value="Baréin" style="color: black">Baréin</option>
                            <option value="Bélgica" style="color: black">Bélgica</option>
                            <option value="Belice" style="color: black">Belice</option>
                            <option value="Benín" style="color: black">Benín</option>
                            <option value="Bielorrusia" style="color: black">Bielorrusia</option>
                            <option value="Bolivia" style="color: black">Bolivia</option>
                            <option value="Bosnia y Herzegovina" style="color: black">Bosnia y Herzegovina</option>
                            <option value="Botsuana" style="color: black">Botsuana</option>
                            <option value="Brasil" style="color: black">Brasil</option>
                            <option value="Brunéi" style="color: black">Brunéi</option>
                            <option value="Bulgaria" style="color: black">Bulgaria</option>
                            <option value="Burkina Faso" style="color: black">Burkina Faso</option>
                            <option value="Burundi" style="color: black">Burundi</option>
                            <option value="Bután" style="color: black">Bután</option>
                            <option value="Cabo Verde" style="color: black">Cabo Verde</option>
                            <option value="Camboya" style="color: black">Camboya</option>
                            <option value="Camerún" style="color: black">Camerún</option>
                            <option value="Canadá" style="color: black">Canadá</option>
                            <option value="Catar" style="color: black">Catar</option>
                            <option value="Chad" style="color: black">Chad</option>
                            <option value="Chile" style="color: black">Chile</option>
                            <option value="China" style="color: black">China</option>
                            <option value="Chipre" style="color: black">Chipre</option>
                            <option value="Ciudad del Vaticano*" style="color: black">Ciudad del Vaticano*</option>
                            <option value="Colombia" style="color: black">Colombia</option>
                            <option value="Comoras" style="color: black">Comoras</option>
                            <option value="Corea del Norte" style="color: black">Corea del Norte</option>
                            <option value="Corea del Sur" style="color: black">Corea del Sur</option>
                            <option value="Costa de Marfil" style="color: black">Costa de Marfil</option>
                            <option value="Costa Rica" style="color: black">Costa Rica</option>
                            <option value="Croacia" style="color: black">Croacia</option>
                            <option value="Cuba" style="color: black">Cuba</option>
                            <option value="Dinamarca" style="color: black">Dinamarca</option>
                            <option value="Dominica" style="color: black">Dominica</option>
                            <option value="Ecuador" style="color: black">Ecuador</option>
                            <option value="Egipto" style="color: black">Egipto</option>
                            <option value="El Salvador" style="color: black">El Salvador</option>
                            <option value="Emiratos Árabes Unidos" style="color: black">Emiratos Árabes Unidos</option>
                            <option value="Eritrea" style="color: black">Eritrea</option>
                            <option value="Eslovaquia" style="color: black">Eslovaquia</option>
                            <option value="Eslovenia" style="color: black">Eslovenia</option>
                            <option value="España" style="color: black">España</option>
                            <option value="Estados Unidos" style="color: black">Estados Unidos</option>
                            <option value="Estonia" style="color: black">Estonia</option>
                            <option value="Etiopía" style="color: black">Etiopía</option>
                            <option value="Filipinas" style="color: black">Filipinas</option>
                            <option value="Finlandia" style="color: black">Finlandia</option>
                            <option value="Fiyi" style="color: black">Fiyi</option>
                            <option value="Francia" style="color: black">Francia</option>
                            <option value="Gabón" style="color: black">Gabón</option>
                            <option value="Gambia" style="color: black">Gambia</option>
                            <option value="Georgia" style="color: black">Georgia</option>
                            <option value="Ghana" style="color: black">Ghana</option>
                            <option value="Granada" style="color: black">Granada</option>
                            <option value="Grecia" style="color: black">Grecia</option>
                            <option value="Guatemala" style="color: black">Guatemala</option>
                            <option value="Guyana" style="color: black">Guyana</option>
                            <option value="Guinea" style="color: black">Guinea</option>
                            <option value="Guinea Ecuatorial" style="color: black">Guinea Ecuatorial</option>
                            <option value="Guinea-Bisáu" style="color: black">Guinea-Bisáu</option>
                            <option value="Haití" style="color: black">Haití</option>
                            <option value="Honduras" style="color: black">Honduras</option>
                            <option value="Hungría" style="color: black">Hungría</option>
                            <option value="India" style="color: black">India</option>
                            <option value="Indonesia" style="color: black">Indonesia</option>
                            <option value="Irak" style="color: black">Irak</option>
                            <option value="Irán" style="color: black">Irán</option>
                            <option value="Irlanda" style="color: black">Irlanda</option>
                            <option value="Islandia" style="color: black">Islandia</option>
                            <option value="Islas Marshall" style="color: black">Islas Marshall</option>
                            <option value="Islas Salomón" style="color: black">Islas Salomón</option>
                            <option value="Israel" style="color: black">Israel</option>
                            <option value="Italia" style="color: black">Italia</option>
                            <option value="Jamaica" style="color: black">Jamaica</option>
                            <option value="Japón" style="color: black">Japón</option>
                            <option value="Jordania" style="color: black">Jordania</option>
                            <option value="Kazajistán" style="color: black">Kazajistán</option>
                            <option value="Kenia" style="color: black">Kenia</option>
                            <option value="Kirguistán" style="color: black">Kirguistán</option>
                            <option value="Kiribati" style="color: black">Kiribati</option>
                            <option value="Kuwait" style="color: black">Kuwait</option>
                            <option value="Laos" style="color: black">Laos</option>
                            <option value="Lesoto" style="color: black">Lesoto</option>
                            <option value="Letonia" style="color: black">Letonia</option>
                            <option value="Líbano" style="color: black">Líbano</option>
                            <option value="Liberia" style="color: black">Liberia</option>
                            <option value="Libia" style="color: black">Libia</option>
                            <option value="Liechtenstein" style="color: black">Liechtenstein</option>
                            <option value="Lituania" style="color: black">Lituania</option>
                            <option value="Luxemburgo" style="color: black">Luxemburgo</option>
                            <option value="Macedonia del Norte" style="color: black">Macedonia del Norte</option>
                            <option value="Madagascar" style="color: black">Madagascar</option>
                            <option value="Malasia" style="color: black">Malasia</option>
                            <option value="Malaui" style="color: black">Malaui</option>
                            <option value="Maldivas" style="color: black">Maldivas</option>
                            <option value="Malí" style="color: black">Malí</option>
                            <option value="Malta" style="color: black">Malta</option>
                            <option value="Marruecos" style="color: black">Marruecos</option>
                            <option value="Mauricio" style="color: black">Mauricio</option>
                            <option value="Mauritania" style="color: black">Mauritania</option>
                            <option value="México" style="color: black">México</option>
                            <option value="Micronesia" style="color: black">Micronesia</option>
                            <option value="Moldavia" style="color: black">Moldavia</option>
                            <option value="Mónaco" style="color: black">Mónaco</option>
                            <option value="Mongolia" style="color: black">Mongolia</option>
                            <option value="Montenegro" style="color: black">Montenegro</option>
                            <option value="Mozambique" style="color: black">Mozambique</option>
                            <option value="Myanmar" style="color: black">Myanmar</option>
                            <option value="Namibia" style="color: black">Namibia</option>
                            <option value="Nauru" style="color: black">Nauru</option>
                            <option value="Nepal" style="color: black">Nepal</option>
                            <option value="Nicaragua" style="color: black">Nicaragua</option>
                            <option value="Níger" style="color: black">Níger</option>
                            <option value="Nigeria" style="color: black">Nigeria</option>
                            <option value="Noruega" style="color: black">Noruega</option>
                            <option value="Nueva Zelanda" style="color: black">Nueva Zelanda</option>
                            <option value="Omán" style="color: black">Omán</option>
                            <option value="Países Bajos" style="color: black">Países Bajos</option>
                            <option value="Pakistán" style="color: black">Pakistán</option>
                            <option value="Palaos" style="color: black">Palaos</option>
                            <option value="Palestina*" style="color: black">Palestina*</option>
                            <option value="Panamá" style="color: black">Panamá</option>
                            <option value="Papúa Nueva Guinea" style="color: black">Papúa Nueva Guinea</option>
                            <option value="Paraguay" style="color: black">Paraguay</option>
                            <option value="Perú" style="color: black">Perú</option>
                            <option value="Polonia" style="color: black">Polonia</option>
                            <option value="Portugal" style="color: black">Portugal</option>
                            <option value="Reino Unido" style="color: black">Reino Unido</option>
                            <option value="República Centroafricana" style="color: black">República Centroafricana</option>
                            <option value="República Checa" style="color: black">República Checa</option>
                            <option value="República del Congo" style="color: black">República del Congo</option>
                            <option value="República Democrática del Congo" style="color: black">República Democrática del Congo</option>
                            <option value="República Dominicana" style="color: black">República Dominicana</option>
                            <option value="Ruanda" style="color: black">Ruanda</option>
                            <option value="Rumanía" style="color: black">Rumanía</option>
                            <option value="Rusia" style="color: black">Rusia</option>
                            <option value="Samoa" style="color: black">Samoa</option>
                            <option value="San Cristóbal y Nieves" style="color: black">San Cristóbal y Nieves</option>
                            <option value="San Marino" style="color: black">San Marino</option>
                            <option value="San Vicente y las Granadinas" style="color: black">San Vicente y las Granadinas</option>
                            <option value="Santa Lucía" style="color: black">Santa Lucía</option>
                            <option value="Santo Tomé y Príncipe" style="color: black">Santo Tomé y Príncipe</option>
                            <option value="Senegal" style="color: black">Senegal</option>
                            <option value="Serbia" style="color: black">Serbia</option>
                            <option value="Seychelles" style="color: black">Seychelles</option>
                            <option value="Sierra Leona" style="color: black">Sierra Leona</option>
                            <option value="Singapur" style="color: black">Singapur</option>
                            <option value="Siria" style="color: black">Siria</option>
                            <option value="Somalia" style="color: black">Somalia</option>
                            <option value="Sri Lanka" style="color: black">Sri Lanka</option>
                            <option value="Suazilandia" style="color: black">Suazilandia</option>
                            <option value="Sudáfrica" style="color: black">Sudáfrica</option>
                            <option value="Sudán" style="color: black">Sudán</option>
                            <option value="Sudán del Sur" style="color: black">Sudán del Sur</option>
                            <option value="Suecia" style="color: black">Suecia</option>
                            <option value="Suiza" style="color: black">Suiza</option>
                            <option value="Surinam" style="color: black">Surinam</option>
                            <option value="Tailandia" style="color: black">Tailandia</option>
                            <option value="Tanzania" style="color: black">Tanzania</option>
                            <option value="Tayikistán" style="color: black">Tayikistán</option>
                            <option value="Timor Oriental" style="color: black">Timor Oriental</option>
                            <option value="Togo" style="color: black">Togo</option>
                            <option value="Tonga" style="color: black">Tonga</option>
                            <option value="Trinidad y Tobago" style="color: black">Trinidad y Tobago</option>
                            <option value="Túnez" style="color: black">Túnez</option>
                            <option value="Turkmenistán" style="color: black">Turkmenistán</option>
                            <option value="Turquía" style="color: black">Turquía</option>
                            <option value="Tuvalu" style="color: black">Tuvalu</option>
                            <option value="Surinam" style="color: black">Surinam</option>
                            <option value="Tailandia" style="color: black">Tailandia</option>
                            <option value="Tanzania" style="color: black">Tanzania</option>
                            <option value="Tayikistán" style="color: black">Tayikistán</option>
                            <option value="Timor Oriental" style="color: black">Timor Oriental</option>
                            <option value="Togo" style="color: black">Togo</option>
                            <option value="Tonga" style="color: black">Tonga</option>
                            <option value="Trinidad y Tobago" style="color: black">Trinidad y Tobago</option>
                            <option value="Túnez" style="color: black">Túnez</option>
                            <option value="Turkmenistán" style="color: black">Turkmenistán</option>
                            <option value="Turquía" style="color: black">Turquía</option>
                            <option value="Tuvalu" style="color: black">Tuvalu</option>
                            <option value="Ucrania" style="color: black">Ucrania</option>
                            <option value="Uganda" style="color: black">Uganda</option>
                            <option value="Uruguay" style="color: black">Uruguay</option>
                            <option value="Uzbekistán" style="color: black">Uzbekistán</option>
                            <option value="Vanuatu" style="color: black">Vanuatu</option>
                            <option value="Venezuela" style="color: black">Venezuela</option>
                            <option value="Vietnam" style="color: black">Vietnam</option>
                            <option value="Yemen" style="color: black">Yemen</option>
                            <option value="Yibuti" style="color: black">Yibuti</option>
                            <option value="Zambia" style="color: black">Zambia</option>
                            <option value="Zimbabue" style="color: black">Zimbabue</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Código Postal</label>
                          <input type="number" name="postalcode" class="form-control" placeholder="Código Postal" value="{{postalcode}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Retiros -->
                  <h6 class="heading-small text-muted mb-4">Datos de Retiro</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label">Billetera</label>
                              <select class="form-select form-control" type="txt" name="wallet" aria-label="¿Cual es su billetera?" value="{{wallet}}">
                                <option value="Binance" style="color: black">Binance (Recomendada)</option>
                                <option value="Tether" style="color: black">Tether</option>
                                <option value="Ninguna de las anteriores" style="color: black">Ninguna de las anteriores</option>
                              </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" >Dirección de Billetera o Pay ID</label>
                          <input name="addresswallet" class="form-control" placeholder="Coloque su dirección de wallet" type="text" value="{{addresswallet}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Description -->
                  <h6 class="heading-small text-muted mb-4">Escriba algo sobre usted.</h6>
                  <div class="pl-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Sobre mí</label>
                      <textarea rows="4" class="form-control" name="description" placeholder="Algunas palabras sobre ti..">{{description}}</textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                  </div>
              </form>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

      {{>footer-b}}
    </div>
  </main>